<div style="margin-top: 30px;">
  <p>
    <strong>Cometário:</strong>
    <%= comentario.cometario %>
  </p>

  <p>
    <strong>Comentado por:</strong>
    <%= comentario.comentado_por %>
  </p>
</div>