<% if pessoa_signed_in? %>

    <%= flash_mensagem %>

    <h1>Novo Comentário</h1>

    <div id="demais_form_box">
      <%= render 'form', comentario: @comentario %>
    </div>

    <%= link_to 'Voltar', misso_path(@misso) %>

<% else %>
    <%= render 'main_page/erro_sem_login' %>
<% end %>