<p>
  <strong>Cometario:</strong>
  <%= comentario.cometario %>
</p>

<p>
  <strong>Id missao:</strong>
  <%= comentario.misso_id %>
</p>

<p>
  <strong>Id pessoa:</strong>
  <%= comentario.pessoa_id %>
</p>