<% if false %>

    <%= flash_mensagem %>

    <h1>New Tp User</h1>

    <%= render 'form', tp_user: @tp_user %>

    <%= link_to 'Back', :back %>

<% else %>
    <%= render 'main_page/erro_pagina_inacessivel' %>
<% end %>